@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Material Design Amber and Brown Palette */
:root {
  --amber-500: 255, 193, 7;
  --amber-700: 255, 160, 0;
  --brown-500: 121, 85, 72;

  --foreground-rgb: var(--brown-500);
  --background-start-rgb: var(--amber-500);
  --background-end-rgb: var(--amber-700);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Brown Elements */
.brown {
  color: rgb(var(--brown-500));
}

.bg-brown {
  background-color: rgb(var(--brown-500));
}
